<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Подлючение" data-toc-modified-id="Подлючение-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Подлючение</a></span><ul class="toc-item"><li><span><a href="#Страны" data-toc-modified-id="Страны-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Страны</a></span></li><li><span><a href="#Города" data-toc-modified-id="Города-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Города</a></span></li><li><span><a href="#Административное-разделение" data-toc-modified-id="Административное-разделение-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Административное разделение</a></span></li><li><span><a href="#Альтернативные-названия" data-toc-modified-id="Альтернативные-названия-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Альтернативные названия</a></span></li></ul></li><li><span><a href="#Сравнение-слов" data-toc-modified-id="Сравнение-слов-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Сравнение слов</a></span><ul class="toc-item"><li><span><a href="#Levenshtein" data-toc-modified-id="Levenshtein-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Levenshtein</a></span></li><li><span><a href="#Транслитерация" data-toc-modified-id="Транслитерация-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Транслитерация</a></span></li><li><span><a href="#Лемматизация" data-toc-modified-id="Лемматизация-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Лемматизация</a></span></li><li><span><a href="#Fuzzywuzzy" data-toc-modified-id="Fuzzywuzzy-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Fuzzywuzzy</a></span></li></ul></li><li><span><a href="#Тестовые-данные" data-toc-modified-id="Тестовые-данные-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Тестовые данные</a></span></li><li><span><a href="#Объединение-в-класс" data-toc-modified-id="Объединение-в-класс-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Объединение в класс</a></span></li></ul></div>

Цель работы - найти наиболее схожие названия городов и вывести их с указанием стары, региона, geonameid и косинуского расстояния.<br>
В работе использованы таблицы http://download.geonames.org/export/dump/ а также тестовая таблица, с возможными ошибками в названиях городов.<br>
Для нахождения соотвествия использовала расстояние Ливенштейна, транситерацию и dычисление коэфициента сходства с помощью Fuzzywuzzy. По результатам была написана функция, котора находила соответсвия и вывела список словарей, где название было наиболее близким к заданному.<br>
К сожалению, более сложные модели локально не потянула машина

In [ ]:
#!pip install SQLAlchemy
#!pip install psycopg2
#!pip install transliterate
#!pip install python-Levenshtein
#!pip install pymystem3
#!pip install fuzzywuzzy
#!pip install gensim
#!pip install tensorflow
#!pip install torch
#!pip install geopy

<font color='green'>
**Привет, проверяющий!) Этот проект оказался для меня очень сложным и поэтому очень интересным. К сожалению, серьёзные вещи сделать не получилось, но и на некоторых вроде простых моментах у меня возникли проблемы. Буду благодарна, если подскажешь.**</font>

In [75]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import Levenshtein
from transliterate import translit
from pymystem3 import Mystem
from fuzzywuzzy import fuzz
from gensim.models import Word2Vec
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
from sklearn.metrics.pairwise import cosine_similarity
from geopy.geocoders import Nominatim

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\AcerUser\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

## Подлючение

In [2]:
DATABASE = {
    'drivername': 'postgresql',
    'username': 'postgres', 
    'password': '645321', 
    'host': 'localhost',
    'port': 5432,
    'database': 'postgres',
    'query': {}
}  

engine = create_engine(URL(**DATABASE))

C:\Users\AcerUser\AppData\Local\Temp\ipykernel_740\1934621761.py:11: SADeprecationWarning: Calling URL() directly is deprecated and will be disabled in a future release.  The public constructor for URL is now the URL.create() method.
  engine = create_engine(URL(**DATABASE))

### Страны

In [3]:
countries = pd.read_csv(
    'countryInfo.txt',
    delimiter='\t',
    skiprows=50,  # Количество строк, которые идут перед таблицей и мешают перевести её в пандас
    header=None,
    names=[
        'ISO',
        'ISO3',
        'ISO-Numeric',
        'fips',
        'country',
        'capital',
        'area',
        'population',
        'continent',
        'tld',
        'currencyCode',
        'currencyName',
        'phone',
        'postal Code Format',
        'postal Code Regex',
        'languages',
        'geonameid',
        'neighbours',
        'equivalentFipsCode'
        ],
    usecols=[
        'ISO',
        'country',
        'geonameid',
    ]
)

In [4]:
countries.head()

  ISO               country  geonameid
0  AD               Andorra    3041565
1  AE  United Arab Emirates     290557
2  AF           Afghanistan    1149361
3  AG   Antigua and Barbuda    3576396
4  AI              Anguilla    3573511

In [5]:
# колонке ISO сменю название на counrty_code, чтобы потом было удобнее объединить 
countries = countries.rename(columns={'ISO': 'country_code'})

In [6]:
countries.to_sql('contries', con=engine)

In [7]:
query='SELECT * FROM contries LIMIT 5'
pd.read_sql(query, con=engine)

   index country_code               country  geonameid
0      0           AD               Andorra    3041565
1      1           AE  United Arab Emirates     290557
2      2           AF           Afghanistan    1149361
3      3           AG   Antigua and Barbuda    3576396
4      4           AI              Anguilla    3573511

### Города

In [8]:
cities=pd.read_csv(
    'cities15000.txt',
    delimiter='\t',
    header=None,
    names=[
        'geonameid',
        'name',
        'asciiname',
        'alternatenames',
        'latitude',
        'longitude',
        'feature_class',
        'feature_code',
        'country_code',
        'cc2',
        'admin1_code',
        'admin2_code',
        'admin3_code',
        'admin4_code',
        'population',
        'elevation',
        'dem',
        'timezone',
        'modification date'
        ],
    usecols=[
        'geonameid',
        'name',
        'country_code',
        'admin1_code',
        
        'population',
        ]
    )

In [9]:
cities.head()

   geonameid                 name country_code admin1_code  population
0    3040051         les Escaldes           AD          08       15853
1    3041563     Andorra la Vella           AD          07       20430
2     290594   Umm Al Quwain City           AE          07       62747
3     291074  Ras Al Khaimah City           AE          05      351943
4     291580           Zayed City           AE          01       63482

In [10]:
# доавлю колонку, которая будет соответствовать коду региона
cities['code'] = cities['country_code'] + '.' + cities['admin1_code']
cities.tail(10)

       geonameid         name country_code admin1_code  population   code
27057     890983        Gokwe           ZW          02       18942  ZW.02
27058     893485     Chiredzi           ZW          08       40100  ZW.08
27059     893549     Chipinge           ZW          01       34959  ZW.01
27060     893697     Chinhoyi           ZW          05       90800  ZW.05
27061     894239      Chegutu           ZW          05       65800  ZW.05
27062     894701     Bulawayo           ZW          09     1200337  ZW.09
27063     895061      Bindura           ZW          03       50400  ZW.03
27064     895269   Beitbridge           ZW          07       58100  ZW.07
27065    1085510      Epworth           ZW          10      123250  ZW.10
27066    1106542  Chitungwiza           ZW          10      371244  ZW.10

In [11]:
cities.to_sql('cities', con=engine)

In [12]:
query_cities = 'SELECT * FROM cities LIMIT 5'
pd.read_sql_query(query_cities, con=engine)

,index,geonameid,name,country_code,admin1_code,population,code
0,0,3040051,les Escaldes,AD,08,15853,AD.08
1,1,3041563,Andorra la Vella,AD,07,20430,AD.07
2,2,290594,Umm Al Quwain City,AE,07,62747,AE.07
3,3,291074,Ras Al Khaimah City,AE,05,351943,AE.05
4,4,291580,Zayed City,AE,01,63482,AE.01

### Административное разделение

In [13]:
admin_codes=pd.read_csv(
    'admin1CodesASCII.txt',
    delimiter='\t',
    header=None,
    names=[
        'code',
        'name',
        'name_ascii',
        'geonameid'
        ]
    )

In [14]:
admin_codes.head()

    code                 name           name_ascii  geonameid
0  AD.06  Sant Julià de Loria  Sant Julia de Loria    3039162
1  AD.05               Ordino               Ordino    3039676
2  AD.04           La Massana           La Massana    3040131
3  AD.03               Encamp               Encamp    3040684
4  AD.02              Canillo              Canillo    3041203

In [15]:
# колонке name сменю название на region, чтобы потом было удобнее выводить результат 
admin_codes = admin_codes.rename(columns={'name': 'region'})

In [16]:
admin_codes.to_sql('admin_codes', con=engine)

In [17]:
query_admin = 'SELECT * FROM admin_codes LIMIT 5'
pd.read_sql_query(query_admin, con=engine)

   index   code               region           name_ascii  geonameid
0      0  AD.06  Sant Julià de Loria  Sant Julia de Loria    3039162
1      1  AD.05               Ordino               Ordino    3039676
2      2  AD.04           La Massana           La Massana    3040131
3      3  AD.03               Encamp               Encamp    3040684
4      4  AD.02              Canillo              Canillo    3041203

### Альтернативные названия

In [18]:
alternatenames=pd.read_csv(
    'alternateNamesV2.txt',
    delimiter='\t',
    header=None,
    names=[
        'alternateNameId',
        'geonameid',
        'isolanguage',
        'alternate',
        'name',
        'isPreferredName',
        'isShortName',
        'isColloquial',
        'from',
        'to'
        ],
    usecols=[
        'alternateNameId',
        'geonameid',
        'alternate',
        'name'
        ]
    )

In [19]:
alternatenames.head()

   alternateNameId  geonameid             alternate  name
0          1284819    2994701              Roc Mélé   NaN
1          1284820    2994701             Roc Meler   NaN
2          4285256    3007683  Pic des Langounelles   NaN
3          1291197    3017832  Pic de les Abelletes   NaN
4          4290387    3017832  Pic de la Font-Nègre   NaN

<font color='green'>*Почему-то выполнене кода, который ниже, приводит к зависанию всего, но таблица при этом в базе создаётся, хотя пустая. Может мало времени жду, но висит браузер и pgAdmin*</font>

In [20]:
alternatenames.to_sql('alternatenames', con=engine)

In [22]:
query_alter = 'SELECT * FROM alternatenames LIMIT 5'
pd.read_sql_query(query_alter, con=engine)

## Сравнение слов


**Использование разных методов для определения наличия ошибок и разного написания названий населённых пунктов**

### Levenshtein

**Пробую разные варианты использовать расстояние Левенштейна для поиска соответсвий в названиях**

In [23]:
cities.query('name =="Moscow"')

       geonameid    name country_code admin1_code  population   code
20470     524901  Moscow           RU          48    10381222  RU.48
25999    5601538  Moscow           US          ID       25060  US.ID

In [24]:
# Для каждого способа создам новый датасет - копию основного (выборочно 30%,
      #потому что обработка всего занимает очень много временив некоторых методах)

# Процент случайных строк
percent_to_sample = 40

# Количество строк, которые нужно взять
num_rows_to_sample = int(len(cities) * (percent_to_sample / 100.0))

sampled_cities = cities.sample(n=num_rows_to_sample, random_state=12345)  

lev=cities.copy()
lev_40=sampled_cities.copy()

find = "СПБ"
g_name = "Санкт-Петербург"

distance = Levenshtein.distance(find, g_name)
display(distance)

13

In [25]:
# функция, которая будет искать расстояние, сравнивая заданное слово со всеми словами колонки.
g_name = 'Moscow'

def find_name(data):
    distance = Levenshtein.distance(data, g_name)
    return distance


lev['distance_moscow'] = lev['name'].apply(find_name)
lev.head()

,geonameid,name,country_code,admin1_code,population,code,distance_moscow
0,3040051,les Escaldes,AD,08,15853,AD.08,10
1,3041563,Andorra la Vella,AD,07,20430,AD.07,15
2,290594,Umm Al Quwain City,AE,07,62747,AE.07,17
3,291074,Ras Al Khaimah City,AE,05,351943,AE.05,18
4,291580,Zayed City,AE,01,63482,AE.01,10

In [26]:
lev.query('distance_moscow<=2 and country_code=="RU"')

,geonameid,name,country_code,admin1_code,population,code,distance_moscow
20470,524901,Moscow,RU,48,10381222,RU.48,0

**Расстояние меньше 3 даёт результат далёкий от оригинала**

In [27]:
g_name = 'Saint Petersburg'

lev['distance_spb'] = lev['name'].apply(find_name)
lev.head()

,geonameid,name,country_code,admin1_code,population,code,distance_moscow,distance_spb
0,3040051,les Escaldes,AD,08,15853,AD.08,10,15
1,3041563,Andorra la Vella,AD,07,20430,AD.07,15,16
2,290594,Umm Al Quwain City,AE,07,62747,AE.07,17,17
3,291074,Ras Al Khaimah City,AE,05,351943,AE.05,18,17
4,291580,Zayed City,AE,01,63482,AE.01,10,13

In [28]:
lev.query('distance_spb<=10 and country_code=="RU"')

,geonameid,name,country_code,admin1_code,population,code,distance_moscow,distance_spb
20299,498817,Saint Petersburg,RU,66,5351935,RU.66,15,0
20876,1486209,Yekaterinburg,RU,71,1495066,RU.71,13,10

**Проверю на alternatenames**

In [29]:
alter=alternatenames.copy()
g_name = 'Moscow'

def find_name(data):
    if isinstance(data, str):
        distance = Levenshtein.distance(data, g_name)
        return distance
    else:
        return -1  # в данных есть пропуски или значения не строкового формата. Они буду заменены на -1

alter['distance_moscow'] = alter['alternate'].apply(find_name)
alter.head()

   alternateNameId  geonameid             alternate  name  distance_moscow
0          1284819    2994701              Roc Mélé   NaN                7
1          1284820    2994701             Roc Meler   NaN                8
2          4285256    3007683  Pic des Langounelles   NaN               18
3          1291197    3017832  Pic de les Abelletes   NaN               19
4          4290387    3017832  Pic de la Font-Nègre   NaN               19

In [30]:
alter.query('distance_moscow==0')

          alternateNameId  geonameid alternate  name  distance_moscow
736472            7754988    8353088    Moscow   NaN                0
5083348          16903497   12265223    Moscow   NaN                0
11649288          2299342     524894    Moscow   1.0                0
11649321          1590979     524901    Moscow   1.0                0
11649605         11990108     524925    Moscow   NaN                0
14147365         12836746    4077242    Moscow   1.0                0
14158463         12436561    4092267    Moscow   NaN                0
14353112         12857288    4362860    Moscow   1.0                0
14382109         12448567    4399153    Moscow   NaN                0
14900322         12359837    5124210    Moscow   NaN                0
14902543         12467485    5126422    Moscow   NaN                0
14927773         12449870    5151660    Moscow   NaN                0
14938929         12468048    5164382    Moscow   NaN                0
14969408         12992664    5202009    Moscow   1.0                0
14996747         12460557    5235673    Moscow   NaN                0
14999558         12901965    5238783    Moscow   1.0                0
15034002         12928598    5280499    Moscow   1.0                0
15159861         13114596    5446028    Moscow   1.0                0
15255068         13133715    5601538    Moscow   1.0                0
15352912         12442918    5787648    Moscow   NaN                0

In [31]:
alter=alternatenames.copy()
g_name = 'Saint Petersburg'

def find_name(data):
    if isinstance(data, str):
        distance = Levenshtein.distance(data, g_name)
        return distance
    else:
        return -1  # в данных есть пропуски или значения не строкового формата. Они буду заменены на -1

alter['distance_spb'] = alter['alternate'].apply(find_name)
alter.head()

   alternateNameId  geonameid             alternate  name  distance_spb
0          1284819    2994701              Roc Mélé   NaN            15
1          1284820    2994701             Roc Meler   NaN            12
2          4285256    3007683  Pic des Langounelles   NaN            18
3          1291197    3017832  Pic de les Abelletes   NaN            17
4          4290387    3017832  Pic de la Font-Nègre   NaN            18

In [32]:
alter.query('distance_spb<=3')

          alternateNameId  geonameid          alternate  name  distance_spb
578457            1249778    2766431   Sankt Petersberg   NaN             3
7144323          12131344    3172391                NaN   NaN            -1
9732793           7319316    2747217   Sint Pietersberg   NaN             3
11546489          1597203     498817   Sankt Petersburg   NaN             2
11546490          1597204     498817   Saint Petersburg   NaN             0
11546491          1597205     498817    San Petersburgo   1.0             3
11546492          1597206     498817   Sankt-Petersburg   NaN             3
11546493          1597207     498817   Sant Petersburgo   NaN             2
11546496          1597210     498817    Sant Petersburg   NaN             1
11546499          1597213     498817      St Petersburg   NaN             3
11546500          1597214     498817   Sankt Petersborg   NaN             3
11546506          1597220     498817  Saint-Pétersbourg   NaN             3
11546507          1597221     498817    San Petersburgo   NaN             3
11546510          1597224     498817    Santa Peterburg   NaN             3
11546519          1597233     498817   Sankt Petersborg   NaN             3
11546520          1597234     498817    Sint-Petersburg   NaN             2
11546523          1597238     498817   Sankt Petersburg   NaN             2
11546525          1597240     498817   Sankt Petersburg   NaN             2
11546528          1597243     498817    Sankt Peterburg   NaN             3
11546532          1597247     498817   Sankt Petersburg   NaN             2
11546533          1597248     498817    San Petersburgo   NaN             3
11546534          1597249     498817    Sankt Peterburg   NaN             3
11546538          1597253     498817    Sint Petersbork   NaN             3
11546545          1894420     498817   Sant-Petersbourg   NaN             3
11546546          1894421     498817    Sankt Peterburg   NaN             3
11546550          1894425     498817    Sankt Peterburg   NaN             3
11546554          1980164     498817    Sankt Peterburg   NaN             3
11546555          1980165     498817    San Petersburgo   NaN             3
11546558          1980168     498817  Saint Pétersbourg   NaN             2
11546570          3760325     498817   Sankt Petersburg   NaN             2
11546582         13288312     498817      St Petersburg   NaN             3
11692845          2417593     536203   Sankt Petersburg   NaN             2
11692847          7825389     536203   Saint Petersburg   NaN             0
11692850         10906214     536203  Saint-Pétersbourg   NaN             3
11692854         10906218     536203    San Petersburgo   NaN             3
11692860         13287293     536203   Sankt Petersburg   NaN             2
14215092          2728717    4171563   Saint Petersburg   NaN             0
14215128         16451937    4171563   Saint Petersburg   NaN             0
14958516         12872091    5188022    East Petersburg   1.0             3
14975147         12874119    5210484   Saint Petersburg   1.0             0
14990694         12636961    5227665   Saint Petersburg   NaN             0
15007937         12372590    5249071  Saint Petersburgh   NaN             1

### Транслитерация

In [33]:

# С помощью транслитерации проверю наличие сходства между словами.

str1 = "Масква"
str2 = "Москва"

translit_str1 = translit(str1, language_code='ru', reversed=True)
translit_str2 = translit(str2, language_code='ru', reversed=True)

display(translit_str1 == translit_str2)
display(translit_str1)
display(translit_str2)

False

'Maskva'

'Moskva'

### Лемматизация

In [34]:
# У меня работает очень долго, поэтому решила не применять
#lem=sampled_cities.copy()

#def lemmatize_city(city):
 #   m = Mystem()
 #   lemmatized = m.lemmatize(city)
 #   return ''.join(lemmatized).strip()

#lem['lem']=lem['alternate'].apply(lemmatize_city)

#lem

In [35]:
# Применю функцию для alternames
#alter['lem1']=alter['name'].apply(lemmatize_city)

#alter

### Fuzzywuzzy

In [36]:
# Вычисление коэфициента сходства с помощью Fuzzywuzzy
str1 = "Масква"
str2 = "Москва"

similarity_ratio = fuzz.ratio(str1, str2)
display(similarity_ratio)

83

In [37]:
#По аналогии с прошлыми методами посмотрю сходство с помощью Fuzzywuzzy
fuzz_df=cities.copy()


g_name = 'Moscow'

def fuzz_name(data):
    similarity_ratio = fuzz.ratio(data, g_name)
    return similarity_ratio

fuzz_df['fuzz_moscow'] = fuzz_df['name'].apply(fuzz_name)
fuzz_df.head()

,geonameid,name,country_code,admin1_code,population,code,fuzz_moscow
0,3040051,les Escaldes,AD,08,15853,AD.08,22
1,3041563,Andorra la Vella,AD,07,20430,AD.07,9
2,290594,Umm Al Quwain City,AE,07,62747,AE.07,8
3,291074,Ras Al Khaimah City,AE,05,351943,AE.05,8
4,291580,Zayed City,AE,01,63482,AE.01,0

In [38]:
# Если схожесть 80 и выше, то с высокой степенью вероятности - это одно слово
fuzz_df.query('fuzz_moscow>=80 and country_code=="RU"')

,geonameid,name,country_code,admin1_code,population,code,fuzz_moscow
20470,524901,Moscow,RU,48,10381222,RU.48,100

In [39]:
# Проверю работа на названии Saint Petersburg
g_name1 = 'Saint Petersburg'

def fuzz_name1(data):
    similarity_ratio = fuzz.ratio(data, g_name1)
    return similarity_ratio

fuzz_df['fuzz_spb'] = fuzz_df['name'].apply(fuzz_name1)
fuzz_df.head()

,geonameid,name,country_code,admin1_code,population,code,fuzz_moscow,fuzz_spb
0,3040051,les Escaldes,AD,08,15853,AD.08,22,21
1,3041563,Andorra la Vella,AD,07,20430,AD.07,9,19
2,290594,Umm Al Quwain City,AE,07,62747,AE.07,8,29
3,291074,Ras Al Khaimah City,AE,05,351943,AE.05,8,23
4,291580,Zayed City,AE,01,63482,AE.01,0,23

In [40]:
fuzz_df.query('fuzz_spb>=80 and country_code=="RU"')

,geonameid,name,country_code,admin1_code,population,code,fuzz_moscow,fuzz_spb
20299,498817,Saint Petersburg,RU,66,5351935,RU.66,9,100

In [41]:
g_name1 = 'Saint Petersburg'

def fuzz_name1(data):
    if pd.notna(data) and isinstance(data, str):
        similarity_ratio = fuzz.ratio(data, g_name1)
        return similarity_ratio
    else:
        return -1
    
alter['fuzz_spb'] = alter['alternate'].apply(fuzz_name1)
alter.head()

,alternateNameId,geonameid,alternate,name,distance_spb,fuzz_spb
0,1284819,2994701,Roc Mélé,NaN,15,8
1,1284820,2994701,Roc Meler,NaN,12,32
2,4285256,3007683,Pic des Langounelles,NaN,18,28
3,1291197,3017832,Pic de les Abelletes,NaN,17,33
4,4290387,3017832,Pic de la Font-Nègre,NaN,18,28

In [42]:
alter.query('fuzz_spb>=80')

,alternateNameId,geonameid,alternate,name,distance_spb,fuzz_spb
374990,2185523,3576016,Saint Peter,1.0,5,81
578457,1249778,2766431,Sankt Petersberg,NaN,3,88
634875,15954735,2150626,Saint Peter,NaN,5,81
897710,1391682,3373554,Saint Peters,NaN,4,86
897711,2185605,3373554,Saint Peter,1.0,5,81
...,...,...,...,...,...,...
15160154,13003442,5446377,Saint Peter,1.0,5,81
15287193,12448701,5675991,Saint Peters,NaN,4,86
15287196,13121016,5675991,Saint Peter,1.0,5,81
15457387,12525101,7121406,Saint Peters Church,NaN,5,80
15905736,4319971,958229,Saint Peters,NaN,4,86

**Объединю таблицы, чтобы проще было искать соответсвия**

In [43]:
cities.head()

   geonameid                 name country_code admin1_code  population   code
0    3040051         les Escaldes           AD          08       15853  AD.08
1    3041563     Andorra la Vella           AD          07       20430  AD.07
2     290594   Umm Al Quwain City           AE          07       62747  AE.07
3     291074  Ras Al Khaimah City           AE          05      351943  AE.05
4     291580           Zayed City           AE          01       63482  AE.01

In [44]:
alter.head()

,alternateNameId,geonameid,alternate,name,distance_spb,fuzz_spb
0,1284819,2994701,Roc Mélé,NaN,15,8
1,1284820,2994701,Roc Meler,NaN,12,32
2,4285256,3007683,Pic des Langounelles,NaN,18,28
3,1291197,3017832,Pic de les Abelletes,NaN,17,33
4,4290387,3017832,Pic de la Font-Nègre,NaN,18,28

In [45]:
countries.head()

  country_code               country  geonameid
0           AD               Andorra    3041565
1           AE  United Arab Emirates     290557
2           AF           Afghanistan    1149361
3           AG   Antigua and Barbuda    3576396
4           AI              Anguilla    3573511

In [46]:
admin_codes.head()

    code               region           name_ascii  geonameid
0  AD.06  Sant Julià de Loria  Sant Julia de Loria    3039162
1  AD.05               Ordino               Ordino    3039676
2  AD.04           La Massana           La Massana    3040131
3  AD.03               Encamp               Encamp    3040684
4  AD.02              Canillo              Canillo    3041203

In [47]:
new = pd.merge(cities, alternatenames.drop(['alternateNameId', 'name'], axis=1), on='geonameid')
new1=pd.merge(new, admin_codes.drop('geonameid',axis=1), on='code')
new1

,geonameid,name,country_code,admin1_code,population,code,alternate,region,name_ascii
0,3040051,les Escaldes,AD,08,15853,AD.08,Les Escaldes,Escaldes-Engordany,Escaldes-Engordany
1,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes,Escaldes-Engordany,Escaldes-Engordany
2,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes-Engordany,Escaldes-Engordany,Escaldes-Engordany
3,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes-Engordany,Escaldes-Engordany,Escaldes-Engordany
4,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes-Engordany,Escaldes-Engordany,Escaldes-Engordany
...,...,...,...,...,...,...,...,...,...
339697,895061,Bindura,ZW,03,50400,ZW.03,https://en.wikipedia.org/wiki/Bindura,Mashonaland Central,Mashonaland Central
339698,895061,Bindura,ZW,03,50400,ZW.03,Биндура,Mashonaland Central,Mashonaland Central
339699,895061,Bindura,ZW,03,50400,ZW.03,Bindura,Mashonaland Central,Mashonaland Central
339700,895061,Bindura,ZW,03,50400,ZW.03,ZWBIN,Mashonaland Central,Mashonaland Central
339701,895061,Bindura,ZW,03,50400,ZW.03,Q863727,Mashonaland Central,Mashonaland Central

In [48]:
new2=pd.merge(new1, countries.drop('geonameid',axis=1), on='country_code')
new2

,geonameid,name,country_code,admin1_code,population,code,alternate,region,name_ascii,country
0,3040051,les Escaldes,AD,08,15853,AD.08,Les Escaldes,Escaldes-Engordany,Escaldes-Engordany,Andorra
1,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes,Escaldes-Engordany,Escaldes-Engordany,Andorra
2,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes-Engordany,Escaldes-Engordany,Escaldes-Engordany,Andorra
3,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes-Engordany,Escaldes-Engordany,Escaldes-Engordany,Andorra
4,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes-Engordany,Escaldes-Engordany,Escaldes-Engordany,Andorra
...,...,...,...,...,...,...,...,...,...,...
339697,895061,Bindura,ZW,03,50400,ZW.03,https://en.wikipedia.org/wiki/Bindura,Mashonaland Central,Mashonaland Central,Zimbabwe
339698,895061,Bindura,ZW,03,50400,ZW.03,Биндура,Mashonaland Central,Mashonaland Central,Zimbabwe
339699,895061,Bindura,ZW,03,50400,ZW.03,Bindura,Mashonaland Central,Mashonaland Central,Zimbabwe
339700,895061,Bindura,ZW,03,50400,ZW.03,ZWBIN,Mashonaland Central,Mashonaland Central,Zimbabwe
339701,895061,Bindura,ZW,03,50400,ZW.03,Q863727,Mashonaland Central,Mashonaland Central,Zimbabwe

In [49]:
#Запускаю функцию для новой таблицы
new2['fuzz_spb'] = new2['name'].apply(fuzz_name1)
new2.head()

,geonameid,name,country_code,admin1_code,population,code,alternate,region,name_ascii,country,fuzz_spb
0,3040051,les Escaldes,AD,08,15853,AD.08,Les Escaldes,Escaldes-Engordany,Escaldes-Engordany,Andorra,21
1,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes,Escaldes-Engordany,Escaldes-Engordany,Andorra,21
2,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes-Engordany,Escaldes-Engordany,Escaldes-Engordany,Andorra,21
3,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes-Engordany,Escaldes-Engordany,Escaldes-Engordany,Andorra,21
4,3040051,les Escaldes,AD,08,15853,AD.08,Escaldes-Engordany,Escaldes-Engordany,Escaldes-Engordany,Andorra,21

In [50]:
new2.query('fuzz_spb>=80 and country_code=="RU"')

,geonameid,name,country_code,admin1_code,population,code,alternate,region,name_ascii,country,fuzz_spb
234770,498817,Saint Petersburg,RU,66,5351935,RU.66,Sankt-Peterburg,St.-Petersburg,St.-Petersburg,Russia,100
234771,498817,Saint Petersburg,RU,66,5351935,RU.66,Leningrad,St.-Petersburg,St.-Petersburg,Russia,100
234772,498817,Saint Petersburg,RU,66,5351935,RU.66,Petrogrado,St.-Petersburg,St.-Petersburg,Russia,100
234773,498817,Saint Petersburg,RU,66,5351935,RU.66,Petrograd,St.-Petersburg,St.-Petersburg,Russia,100
234774,498817,Saint Petersburg,RU,66,5351935,RU.66,Peterburg,St.-Petersburg,St.-Petersburg,Russia,100
...,...,...,...,...,...,...,...,...,...,...,...
234875,498817,Saint Petersburg,RU,66,5351935,RU.66,Cankt-Peterburg,St.-Petersburg,St.-Petersburg,Russia,100
234876,498817,Saint Petersburg,RU,66,5351935,RU.66,সেন্ট পিটার্সবার্গ,St.-Petersburg,St.-Petersburg,Russia,100
234877,498817,Saint Petersburg,RU,66,5351935,RU.66,Q656,St.-Petersburg,St.-Petersburg,Russia,100
234878,498817,Saint Petersburg,RU,66,5351935,RU.66,聖彼得堡,St.-Petersburg,St.-Petersburg,Russia,100
234879,498817,Saint Petersburg,RU,66,5351935,RU.66,聖彼得堡,St.-Petersburg,St.-Petersburg,Russia,100

**Судя по результату, работает функция хорошо, попробую выполнить основное задание** <br>
Применение языковых моделей требуют много памяти, в моём случае это не подошло, остановила выбор на Fuzzywuzzy

In [51]:
def find_similar_cities(target_city, city_list, threshold=80):
    similar_cities = []

    for city in city_list:
        if pd.notna(city) and isinstance(city, str):
            similarity = fuzz.ratio(target_city, city)

            if similarity >= threshold:
                similar_cities.append((city, similarity))

    return similar_cities

target_city = 'Moscow'
city_list = new2['name']

similar_cities = find_similar_cities(target_city, city_list)

display(f"Возможные варианты для '{target_city}':")
for city, similarity in similar_cities:
    display(f"{city} (Сходство: {similarity}%)")

"Возможные варианты для 'Moscow':"

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

'Moscow (Сходство: 100%)'

Из-за ограниченности ресурсов, нашласвоеобразную замену эмбеддингам городов - координаты.

In [52]:
def get_embedding(city):
    geolocator = Nominatim(user_agent="geo_locator")
    location = geolocator.geocode(city)
    if location:
        return [location.latitude, location.longitude]
    else:
        return [0, 0] 

def find_similar_cities(target_city, city_list, threshold=80):
    similar_cities = []

    for _, row in city_list.iterrows():
        city_name = row['name']
        if pd.notna(city_name) and isinstance(city_name, str):
            similarity = fuzz.ratio(target_city, city_name)

            if similarity >= threshold:
                # Вычисление косинусного расстояния
                target_embedding = get_embedding(target_city)
                city_embedding = get_embedding(city_name)
                cosine_sim = cosine_similarity([target_embedding], [city_embedding])[0][0]

                # Формирование словаря
                city_info = {
                    'geonameid': row['geonameid'],
                    'name': city_name,
                    'region': row['region'],
                    'country': row['country'],  
                    'cosine_similarity': cosine_sim
                }

                similar_cities.append(city_info)

    return similar_cities

target_city = 'Moscow'
city_list = new2[['geonameid', 'name', 'region', 'country']]  

similar_cities = find_similar_cities(target_city, city_list)

# Вывод результата
for city_info in similar_cities:
    display(city_info)

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 524901,
 'name': 'Moscow',
 'region': 'Moscow',
 'country': 'Russia',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 0.9999995913079839}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

{'geonameid': 5601538,
 'name': 'Moscow',
 'region': 'Idaho',
 'country': 'United States',
 'cosine_similarity': 1.0000000000000002}

## Тестовые данные

Посмотрю на тестовые данные и опробую функцию на них.

In [53]:
data=pd.read_csv(r'geo_test.csv', sep=';')

In [54]:
data.head()

      query      name           region     country
0  Смоленск  Smolensk  Smolensk Oblast      Russia
1  Кемерово  Kemerovo          Kuzbass      Russia
2    Бишкек   Bishkek          Bishkek  Kyrgyzstan
3    Москва    Moscow           Moscow      Russia
4    Алматы    Almaty           Almaty  Kazakhstan

In [55]:
data.isna().sum()

query      0
name       0
region     0
country    0
dtype: int64

In [56]:
data.nunique()

query      348
name       319
region     117
country      7
dtype: int64

In [57]:
data['query'].unique()

array(['Смоленск', 'Кемерово', 'Бишкек', 'Москва', 'Алматы', 'Оренбург',
       'Новосибирск', 'Кострома', 'Ёшкар-Ола', 'Йошкар-Ола', 'Минск',
       'СПб', 'С.-Петербург', 'Санкт-Петербург', 'Рязань', 'Екб',
       'Екатеринбург', 'Н.Новгород', 'Ростов-на-Дону', 'Барнаул',
       'Нижний Новгород', 'Брест', 'Зеленоград', 'Уфа', 'Мытищи', 'Томск',
       'Владимир', 'Коломна', 'Ангарск', 'Балашиха', 'Красноярск',
       'Остана', 'Астана', 'Ульяновск', 'Астрахань', 'Караганда',
       'Тюмень', 'Орел', 'Казань', 'Тольяти', 'Тольятти', 'Пенза',
       'Краснодар', 'Грозный', 'Островцы', 'Сочи', 'Усть-Каменногорск',
       'Усть-Каменогорск', 'Чебоксары', 'Курган', 'Самара', 'Белгород',
       'Воронеж', 'Пермь', 'Солегорск', 'Солигорск', 'Барановичи',
       'Набережные Челны', 'Хобаровск', 'Хабаровск', 'Иваново',
       'Улан-Удэ', 'Иркутск', 'Ираславль', 'Ярославль', 'Новакузнецк',
       'Новокузнецк', 'Влодевасток', 'Владивосток', 'Саратов', 'Павловск',
       'Кустанай', 'Костанай', 'Челябинск', 'Махачкала', 'Аксай',
       'Ижевск', 'Тверь', 'Назрань', 'Химки', 'Чита', 'Раменское',
       'Якутск', 'Уральск', 'Адлер', 'Каленинград', 'Калининград',
       'Ставрополь', 'Вологда', 'Курск', 'Белград', 'Сербия',
       'Борисоглебск', 'Липецк', 'Киров', 'Одинцово', 'Երևան', 'Ереван',
       'Армения', 'Кзылорда', 'Кызылорда', 'Атырау', 'Миасс', 'Батайск',
       'Актюбинск', 'Актобе', 'Сыктывкар', 'Самарканд', 'Калуга',
       'Пушкино', 'Волгоград', 'Омск', 'Саранск', 'Жуковский', 'Тула',
       'Новоросийск', 'Новороссийск', 'Тамбов', 'Брянск', 'Архангельск',
       'Благовещенск', 'Джанкой', 'Шымкент', 'Тбилиси', 'თბილისი',
       'Гродно', 'Домодедово', 'Ивантеевка', 'Пятигорск', 'Белокуриха',
       'Уссурийск', 'Павлодар', 'Петропавловск', 'Бийск', 'Красногорск',
       'Псков', 'Великий Новгород', 'Дзержинский', 'Кокшетау',
       'Стерлитамак', 'Витебск', 'Касумкент', 'Красногвардейское',
       'Биробиджан', 'Щелково', 'Лида', 'Петрозаводск', 'Магадан',
       'Энгельс', 'Димитровград', 'Чебаркуль', 'Котельники', 'Анапа',
       'Лобня', 'Королев', 'Подольск', 'Обниннск', 'Обнинск', 'Дзержинск',
       'Могилев', 'Каспийск', 'Броницы', 'Бронницы', 'Черкеск',
       'Черкесск', 'Батуми', 'Мурманск', 'Северодвинск', 'Усть-Лабинск',
       'Новая Адыгея', 'Златоуст', 'Видное', 'Тараз', 'Березники',
       'Арзамас', 'Дербент', 'Актау', 'Южно-Сахалинск', 'Щекино',
       'Люберцы', 'Электросталь', 'Сергиев Посад', 'Семей',
       'Ханты-Мансийск', 'Краснокамск', 'Кыштым', 'Волжский',
       'Муравленко', 'Новый Уренгой', 'Старый Оскол', 'Мегион', 'Братск',
       'Заполярный', 'Тобольск', 'Невиномыск', 'Невинномысск', 'Норильск',
       'Нижневартовск', 'Дмитров', 'Ноябрьск', 'Новочеркасск', 'Ош',
       'Первоуральск', 'Арсеньев', 'Череповецк', 'Череповец',
       'Нижнекамск', 'Бобруйск', 'Па́вловский Поса́д', 'Владикавказ',
       'Елабуга', 'Серпухов', 'Сургут', 'Электрогорск', 'Щербинка',
       'Конаково', 'Шуя', 'Таганрог', 'Каракол', 'Чистополь',
       'Новоалтайск', 'Магнитогорск', 'Шахты', 'Колпино', 'Кисловодск',
       'Комсомольск-на-Амуре', 'Волгодонск', 'Долгопрудный',
       'Менделеевск', 'Полоцк', 'Майкоп', 'Рыбинск', 'Новокуйбышевск',
       'Орск', 'Муром', 'Фрязино', 'Дубна', 'Гомель', 'Ахалцихе',
       'Кутаиси', 'Виловатово', 'Гори', 'Клин', 'Славянск-на-Кубани',
       'Октябрьский', 'Ессентуки', 'Солнечногорск', 'Верхняя Пышма',
       'Ногинск', 'Чехов', 'Александров', 'Талдыкурган', 'Талдыкорган',
       'Орехово-Зуево', 'Нальчик', 'Троицк', 'Выкса', 'Всеволожск',
       'Тосно', 'Алексин', 'Тара', 'Асбест', 'Находка', 'Троицкая',
       'Крымск', 'Кирово-Чепецк', 'Белорецк', 'Нерюнгри', 'Нахабино',
       'Реутов', 'Михайловск', 'Кропоткин', 'Альметьевск', 'Климовск',
       'Истра', 'Бердск', 'Петропавловск-Камчатский', 'Новочебоксарск',
       'Абакан', 'Артем', 'Кстово', 'Ковров', 'Мостовской', 'Лабинск',
       'Нефтеюганск', 'Белебей', 'Нефтекамск', 'Томилино', 'Риддер',
       'Армавир', 'Ейск', 'Геленджик', 'Тимашевск', 'Усолье-Сибирское',
       'Черемхово', 'Саянск', 'Балахна', 'Ишимбай', 'Наро-Фоминск',
       'Степногорск', 'Салават', 'Родники', 'Заволжье', 'Обь', 'Фурманов',
       'Сарапул', 'Каменск-Уральский', 'Воскресенск', 'Воткинск',
       'Новотитаровская', 'Зеленодольск', 'Саров', 'Арамиль',
       'Горно-Алтайск', 'Нефтегорск', 'Усть-Кут', 'Дрожжино',
       'Прокопьевск', 'Чайковский', 'Елец', 'Железнодорожный', 'Крекшино',
       'Кокошкино', 'Лисаковск', 'Кагалым', 'Когалым', 'Черниховск',
       'Черняховск', 'Элиста', 'Линево', 'Сальск', 'Новомосковск',
       'Рудный', 'Луховицы', 'Котлас', 'Светлоград', 'Краснотуринск',
       'Краснотурьинск', 'Житикара', 'Черноголовка', 'Салехард', 'Кызыл',
       'Советская Гавань', 'Отеген-Батыр', 'Тамань', 'Ачинск', 'Трудовое',
       'Московский'], dtype=object)

In [58]:
data['name'].unique()

array(['Smolensk', 'Kemerovo', 'Bishkek', 'Moscow', 'Almaty', 'Orenburg',
       'Novosibirsk', 'Kostroma', 'Yoshkar-Ola', 'Minsk City',
       'Saint Petersburg', 'Ryazan’', 'Yekaterinburg', 'Nizhniy Novgorod',
       'Rostov-na-Donu', 'Barnaul', 'Brest', 'Zelenograd', 'Ufa',
       'Mytishchi', 'Tomsk', 'Vladimir', 'Kolomna', 'Angarsk',
       'Balashikha', 'Krasnoyarsk', 'Astana', 'Ulyanovsk', 'Astrakhan',
       'Karagandy', 'Tyumen', 'Orël', 'Kazan', 'Tolyatti', 'Penza',
       'Krasnodar', 'Groznyy', 'Ostrovtsy', 'Sochi', 'Ust-Kamenogorsk',
       'Cheboksary', 'Kurgan', 'Samara', 'Belgorod', 'Voronezh', 'Perm',
       'Salihorsk', 'Baranovichi', 'Naberezhnyye Chelny', 'Khabarovsk',
       'Ivanovo', 'Ulan-Ude', 'Irkutsk', 'Yaroslavl', 'Novokuznetsk',
       'Vladivostok', 'Saratov', 'Pavlovsk', 'Kostanay', 'Chelyabinsk',
       'Makhachkala', 'Aksay', 'Izhevsk', 'Tver', 'Nazran’', 'Khimki',
       'Chita', 'Ramenskoye', 'Yakutsk', 'Oral', 'Adler', 'Kaliningrad',
       'Stavropol’', 'Vologda', 'Kursk', 'Belgrade', 'Serbia',
       'Borisoglebsk', 'Lipetsk', 'Kirov', 'Odintsovo', 'Yerevan',
       'Armenia', 'Kyzylorda', 'Atyraū', 'Miass', 'Bataysk', 'Aktobe',
       'Syktyvkar', 'Temirtau', 'Kaluga', 'Pushkino', 'Volgograd', 'Omsk',
       'Saransk', 'Zhukovsky', 'Tula', 'Novorossiysk', 'Tambov',
       'Bryansk', 'Arkhangel’sk', 'Blagoveshchensk', 'Zhanibek',
       'Shymkent', 'Tbilisi', 'Hrodna', 'Domodedovo', 'Ivanteyevka',
       'Pyatigorsk', 'Belokurikha', 'Ussuriysk', 'Pavlodar Region',
       'Petropavl', 'Biysk', 'Krasnogorsk', 'Pskov', 'Velikiy Novgorod',
       'Dzerzhinsky', 'Kokshetau', 'Sterlitamak', 'Vitebsk', 'Kasumkent',
       'Krasnogvardeyskoye', 'Birobidzhan', 'Shchyolkovo', 'Lida',
       'Petrozavodsk', 'Magadan', 'Engels', 'Dimitrovgrad', 'Chebarkul’',
       'Kotel’niki', 'Anapa', 'Lobnya', 'Korolev', 'Podolsk', 'Obninsk',
       'Dzerzhinsk', 'Mahilyow', 'Kaspiysk', 'Bronnitsy', 'Cherkessk',
       'Batumi', 'Murmansk', 'Severodvinsk', 'Ust’-Labinsk',
       'Novaya Adygeya', 'Zlatoust', 'Vidnoye', 'Taraz', 'Berezniki',
       'Arzamas', 'Derbent', 'Shevchenko', 'Yuzhno-Sakhalinsk',
       'Shchëkino', 'Lyubertsy', 'Elektrostal’', 'Sergiyev Posad',
       'Semey', 'Khanty-Mansiysk', 'Krasnokamsk', 'Kyshtym', 'Volzhsky',
       'Muravlenko', 'Novyy Urengoy', 'Staryy Oskol', 'Megion', 'Bratsk',
       'Zapolyarnyy', 'Tobolsk', 'Nevinnomyssk', 'Norilsk',
       'Nizhnevartovsk', 'Dmitrov', 'Noyabrsk', 'Novocherkassk', 'Osh',
       'Pervouralsk', 'Arsen’yev', 'Cherepovets', 'Nizhnekamsk',
       'Babruysk', 'Pavlovskiy Posad', 'Vladikavkaz', 'Yelabuga',
       'Serpukhov', 'Surgut', 'Elektrogorsk', 'Shcherbinka', 'Konakovo',
       'Shuya', 'Taganrog', 'Karakol', 'Chistopol’', 'Novoaltaysk',
       'Magnitogorsk', 'Shakhty', 'Kolpino', 'Kislovodsk',
       'Komsomolsk-on-Amur', 'Volgodonsk', 'Dolgoprudnyy', 'Mendeleyevsk',
       'Polatsk', 'Maykop', 'Rybinsk', 'Novokuybyshevsk', 'Orsk', 'Murom',
       'Fryazino', 'Dubna', "Homyel'", 'Akhaltsikhe', 'Kutaisi',
       'Vilovatovo', 'Gori', 'Klin', 'Slavyansk-na-Kubani',
       'Oktyabr’skiy', 'Yessentuki', 'Solnechnogorsk',
       'Verkhnyaya Pyshma', 'Noginsk', 'Chekhov', 'Aleksandrov',
       'Taldykorgan', 'Orekhovo-Zuyevo', 'Nalchik', 'Troitsk', 'Vyksa',
       'Vsevolozhsk', 'Tosno', 'Aleksin', 'Tara', 'Asbest', 'Nakhodka',
       'Troitskaya', 'Krymsk', 'Kirovo-Chepetsk', 'Beloretsk',
       'Neryungri', 'Nakhabino', 'Reutov', 'Mikhaylovsk', 'Kropotkin',
       'Al’met’yevsk', 'Klimovsk', 'Istra', 'Berdsk',
       'Petropavlovsk-Kamchatsky', 'Novocheboksarsk', 'Abakan', 'Artëm',
       'Kstovo', 'Kovrov', 'Mostovskoy', 'Labinsk', 'Nefteyugansk',
       'Belebey', 'Neftekamsk', 'Tomilino', 'Ridder', 'Armavir', 'Yeysk',
       'Gelendzhik', 'Timashyovsk', 'Usol’ye-Sibirskoye', 'Cheremkhovo',
       'Sayansk', 'Novaya Balakhna', 'Ishimbay', 'Naro-Fominsk',
       'Stepnogorsk', 'Salavat', 'Rodniki', 'Zavolzh’ye', 'Ob’',
       'Furmanov', 'Sarapul', 'Kamensk-Ural’skiy', 'Voskresensk',
       'Votkinsk', 'Novotitarovskaya', 'Zelenodolsk', 'Sarov', 'Aramil',
       'Gorno-Altaysk', 'Neftegorsk', 'Ust’-Kut', 'Drozhzhino',
       'Prokop’yevsk', 'Chaykovskiy', 'Yelets', 'Zheleznodorozhnyy',
       'Krekshino', 'Kokoshkino', 'Lisakovsk', 'Kogalym', 'Chernyakhovsk',
       'Elista', 'Linëvo', 'Sal’sk', 'Novomoskovsk', 'Rudnyy',
       'Lukhovitsy', 'Kotlas', 'Svetlograd', 'Krasnoturinsk', 'Zhitikara',
       'Chernogolovka', 'Salekhard', 'Kyzyl', 'Sovetskaya Gavan’',
       'Otegen Batyra', 'Taman’', 'Achinsk', 'Trudovoye', 'Moskovskiy'],
      dtype=object)

In [59]:
data['region'].unique()

array(['Smolensk Oblast', 'Kuzbass', 'Bishkek', 'Moscow', 'Almaty',
       'Orenburg Oblast', 'Novosibirsk Oblast', 'Kostroma Oblast',
       'Mariy-El Republic', 'Minsk City', 'St.-Petersburg',
       'Ryazan Oblast', 'Sverdlovsk Oblast', 'Nizhny Novgorod Oblast',
       'Rostov', 'Altai Krai', 'Brest', 'Bashkortostan Republic',
       'Moscow Oblast', 'Tomsk Oblast', 'Vladimir Oblast',
       'Irkutsk Oblast', 'Krasnoyarsk Krai', 'Astana', 'Ulyanovsk',
       'Astrakhan Oblast', 'Karaganda', 'Tyumen Oblast', 'Oryol oblast',
       'Tatarstan Republic', 'Samara Oblast', 'Penza Oblast',
       'Krasnodar Krai', 'Chechnya', 'East Kazakhstan', 'Chuvashia',
       'Kurgan Oblast', 'Belgorod Oblast', 'Voronezh Oblast', 'Perm Krai',
       'Minsk', 'Khabarovsk', 'Ivanovo Oblast', 'Buryatiya Republic',
       'Yaroslavl Oblast', 'Primorye', 'Saratov Oblast', 'Qostanay',
       'Chelyabinsk', 'Dagestan', 'Udmurtiya Republic', 'Tver Oblast',
       'Ingushetiya Republic', 'Zabaykalskiy (Transbaikal) Kray', 'Sakha',
       'Batys Qazaqstan', 'Kaliningrad Oblast', 'Stavropol Kray',
       'Vologda Oblast', 'Kursk Oblast', 'Central Serbia', 'Serbia',
       'Lipetsk Oblast', 'Kirov Oblast', 'Yerevan', 'Armenia',
       'Qyzylorda', 'Atyraū', 'Aqtöbe', 'Komi', 'Kaluga Oblast',
       'Volgograd Oblast', 'Omsk Oblast', 'Mordoviya Republic',
       'Tula Oblast', 'Tambov Oblast', 'Bryansk Oblast', 'Arkhangelskaya',
       'Amur Oblast', 'Shymkent', "T'bilisi", 'Grodnenskaya',
       'Pavlodar Region', 'North Kazakhstan', 'Pskov Oblast',
       'Novgorod Oblast', 'Aqmola', 'Vitebsk', 'Jewish Autonomous Oblast',
       'Karelia', 'Magadan Oblast', 'Mogilev',
       'Karachayevo-Cherkesiya Republic', 'Achara', 'Murmansk',
       'Adygeya Republic', 'Zhambyl', 'Mangghystaū', 'Sakhalin Oblast',
       'Abai Region', 'Khanty-Mansia', 'Yamalo-Nenets', 'Osh',
       'North Ossetia–Alania', 'Issyk-Kul', 'Gomel Oblast',
       'Samtskhe-Javakheti', 'Imereti', 'Shida Kartli', 'Jetisu Region',
       'Kabardino-Balkariya Republic', "Leningradskaya Oblast'",
       'Kamchatka', 'Khakasiya Republic', 'Altai', 'Kalmykiya Republic',
       'Republic of Tyva'], dtype=object)

In [60]:
data['country'].unique()

array(['Russia', 'Kyrgyzstan', 'Kazakhstan', 'Belarus', 'Serbia',
       'Armenia', 'Georgia'], dtype=object)

In [61]:
data=data.query('country !="Georgia"')

In [62]:
data['country'].unique()

array(['Russia', 'Kyrgyzstan', 'Kazakhstan', 'Belarus', 'Serbia',
       'Armenia'], dtype=object)

In [63]:
data.nunique()

query      342
name       314
region     112
country      6
dtype: int64

**Изпользую функцию для тестового датасета**
<br>
Код расcчитан на название на английском, поэтому использую для колонки name

In [66]:
def get_embedding(city):
    geolocator = Nominatim(user_agent="geo_locator")
    location = geolocator.geocode(city)
    if location:
        return [location.latitude, location.longitude]
    else:
        return [0, 0] 

def find_similar_cities(target_city, city_list, threshold=75):
    similar_cities = []

    for _, row in city_list.iterrows():
        city_name = row['name']
        if pd.notna(city_name) and isinstance(city_name, str):
            similarity = fuzz.ratio(target_city, city_name)

            if similarity >= threshold:
                # Вычисление косинусного расстояния
                target_embedding = get_embedding(target_city)
                city_embedding = get_embedding(city_name)
                cosine_sim = cosine_similarity([target_embedding], [city_embedding])[0][0]

                # Формирование словаря
                city_info = {
                    'name': city_name,
                    'region': row['region'],
                    'country': row['country'],  
                    'cosine_similarity': cosine_sim
                }

                similar_cities.append(city_info)

    return similar_cities

target_city = 'Vladivostok'
city_list = data[['name', 'region', 'country']]  

similar_cities = find_similar_cities(target_city, city_list)

# Вывод результата
for city_info in similar_cities:
    display(city_info)

{'name': 'Vladivostok',
 'region': 'Primorye',
 'country': 'Russia',
 'cosine_similarity': 1.0}

{'name': 'Vladivostok',
 'region': 'Primorye',
 'country': 'Russia',
 'cosine_similarity': 1.0}

**Функци на этих данных работает**

## Объединение в класс

**Этот код сохранён в в виде скрипта для последующей работы**

from sqlalchemy import create_engine
import pandas as pd
from geopy.geocoders import Nominatim
from sklearn.metrics.pairwise import cosine_similarity
from fuzzywuzzy import fuzz


class GeoCities:
    
    def __init__(self, db_url):
        self.db_url = db_url # Gодключениt к базе данных.
        self.engine = create_engine(db_url)

    def load_table_from_db(self, table_name): # Загрузка данных из таблицы базы данных
        query = f"SELECT * FROM {table_name}"
        return pd.read_sql(query, self.engine)

    def merge_tables(self, tables): # Объединение таблиц (разные таблицы объединяются по разным ключам)
        merged_df = pd.merge(tables[0], tables[1], on='geonameid')

        merged_df = pd.merge(merged_df, tables[2], left_on='geonameid', right_on='code')
        merged_df = merged_df.drop('code', axis=1) 

        merged_df = pd.merge(merged_df, tables[3], left_on='country', right_on='country_code', how='left')
        merged_df = merged_df.drop('country_code', axis=1)  
        
        return merged_df

    def get_embedding(self, city): # Получение эмбеддинга для указанного города
        geolocator = Nominatim(user_agent="geo_locator")
        location = geolocator.geocode(city)
        if location:
            return [location.latitude, location.longitude]
        else:
            return [0, 0]

    def find_similar_cities(self, target_city, city_list, threshold=80): #Поиск похожих городов для заданного города
        similar_cities = []

        for _, row in city_list.iterrows():
            city_name = row['name']
            if pd.notna(city_name) and isinstance(city_name, str):
                similarity = fuzz.ratio(target_city, city_name)

                if similarity >= threshold:
                    # Вычисление косинусного расстояния
                    target_embedding = self.get_embedding(target_city)
                    city_embedding = self.get_embedding(city_name)
                    cosine_sim = cosine_similarity([target_embedding], [city_embedding])[0][0]

                    # Формирование словаря
                    city_info = {
                        'geonameid': row['geonameid'],
                        'name': city_name,
                        'region': row['region'],
                        'country': row['country'],
                        'cosine_similarity': cosine_sim
                    }

                    similar_cities.append(city_info)

        return similar_cities

    def run_analysis(self, target_city): # Запуск анализа похожих городов для заданного города
        countries = self.load_table_from_db('countries')
        cities = self.load_table_from_db('cities')
        admin_codes = self.load_table_from_db('admin_codes')
        alternatenames = self.load_table_from_db('alternatenames')

        tables = [cities, alternatenames.drop(['alternateNameId', 'name'], axis=1),
                  admin_codes.drop('geonameid', axis=1), countries.drop('geonameid', axis=1)]

        merged_data = self.merge_tables(tables)
        city_list = merged_data[['geonameid', 'name', 'region', 'country']]

        similar_cities = self.find_similar_cities(target_city, city_list)

        # Вывод результата
        for city_info in similar_cities:
            print(city_info)

In [82]:
#!pip install -r requirements.txt

In [81]:
from geo_run import GeoCities


def main():
    db_url = "postgresql://postgres:645321@localhost:5432/postgres"
    analyzer = GeoCities(db_url)
    analyzer.run_analysis('Moscow')

if __name__ == "__main__":
    main()

NameError: name 'create_engine' is not defined

<font color='green'>
**Вопрос по этому моменту. Не понимаю, почему ошибка, если в скрипте и в requirements.txt всё есть. Буду благодарна за подсказку** </font>